<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
    {{getTitle()}}
</div>

<div class="col-md-9" style="margin: 0px auto;">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th style="width: 5%"><input type="checkbox" /></th>
                <th style="width: 55%">File</th>
                <th style="width: 35%">Size</th>
                <th style="width: 5%">
                    <button class="btn btn-outline-secondary float-right">
                        <fa-icon [icon]="faDownload"></fa-icon>
                        Download Selected
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of getFiles()">
                <td><input type="checkbox" [(ngModel)]="file.selected" /></td>
                <td>
                    <fa-icon *ngIf="file.type === 'directory'" [icon]="faFolder"></fa-icon>
                    {{file.name}}
                </td>
                <td>{{getPrettySize(file.size)}}</td>
                <td>
                    <button class="btn btn-outline-secondary float-right">
                        <fa-icon [icon]="faDownload"></fa-icon>
                        Download
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
