/* You can add global styles to this file, and also import other style files */
#header {
    background: #2C3E50;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: #F8F8F8;
    font-size: 30px;
}
