.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.table-header {
    font-size: 16px;
}

.main-table {
    border: 5px darkslategray;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 75px;
    text-align: center;
    padding-top: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header {
    background: darkslategray;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #F8F8F8;
    font-size: 30px;
}