.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.table-header {
    font-size: 16px;
}

.main-table {
    border: 5px darkslategray;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.word-wrap {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#header {
    background: #2C3E50;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: #F8F8F8;
    font-size: 30px;
}
