#banner {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

.upload-only {
    height: 40vh;
    margin-top: 20vh;
}

.upload-only .dz-message {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: auto;
}
