.my-drop-zone {
    height: 70px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

#uploader-input {
    display: none;
}
